mealScraper/data/SuperTracker Foods Database 2017.csv
phantomjs-2.1.1-macosx
foodGroupScraper/ghostdriver.log
chromedriver

*.txt

*.txt

foodGroupScraper/sample.txt

mealScraper/ghostdriver.log

nutrientScraper/ghostdriver.log

mealScraper/output/test.txt

mealScraper/output/test.txt

*.txt
